#user
	:markdown
		user: **#{user}**

hr

#fun
	:markdown
		[New Post](/new) [New Order](/order) [Logout](/logout)

hr

- each order in orders
	.order
		span.title= order.title
		br
		span.client 客戶： #{order.client}
		br
		span.due 交貨日期： #{order.due}
		br
		span.type 型號： #{order.type}
		br
		span.quantity 數量： #{order.quantity}
		br
		span.serial 序號： #{order.serial}
		br
		span.priority 急件： #{order.priority}
		br
		span.EWD 估計時程： #{order.EWD}
		br
		span.created 下單時間： #{order.created_at}

hr

#fun2
	:markdown
		[New Post](/new) [New Order](/order) [Logout](/logout)
