!!! 5
html
	head
		link(type='text/css', href='/css/smoothness/jquery-ui-1.8.20.custom.css', rel='stylesheet')
		script(type='text/javascript', src='/js/jquery-1.7.2.min.js')
		script(type='text/javascript', src='/js/jquery-ui-1.8.20.custom.min.js')
		style(type='text/css')
			#title { margin: 4px; padding: 0.3em; font-size: 1em; height: 1.4em; text-align:center }

			#toolbar { font-size: 1.4em; }
			#function { list-style-type: none; margin: 0; padding: 0; text-align:center }
			#function .ui-selected { background: #F39814; color: white; }
			#function li { margin: 3px; padding: 0.3em; font-size: 1em; height: 1.4em; background: #FFFF99}

			#orderlist { font-size: 1.4em; }
			#selectable { list-style-type: none; margin: 0; padding: 0; text-align:left }
			#selectable .ui-selected { background: #F39814; color: white; }
			#selectable li { margin: 3px; padding: 0.3em; font-size: 1em; height: 1.4em; }
		script(type='text/javascript')
			$(function() {
				$("#function").selectable({
					selected: function(event, ui) {
						$(".ui-selected", this).each(function() {
							var index = $("#function li").index(this);
							if (0 == index)
								self.location="/order";
							else if (1 == index)
								self.location="/logout";
							else
								alert("not possible");
							false;
						});
					}
				});
				$("#selectable").selectable({
					selected: function(event, ui) {
						var oid = $(".ui-selected", this).attr('oid');
						self.location = "/order/" + oid;
					}
				});
			});
	body
		#title #{title}

		#toolbar
			ul#function
				li.ui-state-default
					a(href= "/order")= "New Order"
				li.ui-state-default
					a(href= "/logout")= "Logout"

		#orderlist
			ul#selectable
				- each order in orders
					li.ui-state-default(oid="#{order._id}")
						span.title= order.title
						span.client 客戶 #{order.client}
						span.due 交期 #{order.due}
						span.type 型號 #{order.type}
						span.quantity 數量 #{order.quantity}
						span.created 下單 #{order.created_at}

						//span.serial 序號： #{order.serial}
						//span.priority 急件： #{order.priority}
						//span.EWD 估計時程： #{order.EWD}

		input(type='button', value='Get Value', onclick='alert($(\'#selectable .ui-selected\').index())')
		input(type='button', value='Get Text Value', onclick='alert($(\'#selectable .ui-selected\').text())')
