!!! 5
html
	body
		p X Management System
		- if (user != undefined)
			span= "Hi, " + user + " "
			a(href="/logout")= "Logout"
		- else
			a(href= "/auth/twitter")= "twitter Login"
			br
			a(href= "/auth/facebook")= "facebook Login"
			br
			a(href= "/auth/google")= "google Login"
